#index-wrapper {

  .site-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    margin-bottom: 2rem;
    padding: .7rem;
    width: 47%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $primary;
    background: $dark-30;
    @include border-radius;

    .entry-footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      font-size: .85rem;
    }
  }
}

.entry-title {
  padding-right: 1rem;
  max-width: 90%;

  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}
.entry-meta {
  padding: .5rem 0;
  font-size: .8rem;

  .posted-on,
  .byline {
    line-height: 1em;
  }
}

.entry-footer {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: $light;
  @include border-radius;

  @media screen and (max-width: 500px) {
    flex-direction: column;

    .comments-link {
      padding: .7rem 0;
    }
  }
}

.site-main {
  .category-rides {
    position: relative;
    overflow: hidden;

    &:before {
      @include motorcycle-icon;
      /*content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      top: 18px;
      right: -15px;
      transform: rotate(-45deg);
      background: white;
      border: 1px solid $primary;*/
    }
    .entry-header {
      position: relative;
    }
  }
  .comments-area {
    margin-top: 3rem;
    padding: 1rem;
    background: $dark-30;
    @include border-radius;

    .comment {
      &.depth-1 {
        &.parent {
          margin-bottom: 1rem;
          @include border-radius;
          border: 1px solid $light;
        }
      }
      article {
        &:first-child {
          background: lighten($light, 12%);
        }
      }
      .comment-meta {
        margin-bottom: .4rem;
        // font-size: .9rem;
        display: flex;
        justify-content: space-between;
      }
      .comment-metadata {
        font-size: .9rem;
        align-self: flex-end;
      }
      .comment-reply-link {
        font-size: .9rem;
      }
    }
    .comment-list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .children {
        padding-left: 0;
        list-style-type: none;

        li {
          padding-left: 1.3rem;
        }
        article {
          background: transparent;
        }
      }
      article {
        padding: 1rem;
      }
    }
  }
}

.post-navigation {
  margin-bottom: 1rem;

  .nav-previous {
    position: relative;
    flex: 0 1 40%;

    &:before {
      content: '\2039';
      padding-right: .2rem;
      position: absolute;
      left: -.8rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
    }
  }
  .nav-next {
    position: relative;
    flex: 0 1 40%;
    text-align: right;

    &:after {
      content: '\203A';
      padding-left: .2rem;
      position: absolute;
      right: -.8rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
    }
  }
}

.post {
  header {
    padding-bottom: .7rem;
  }
  img {
    margin-bottom: 2rem;
  }
}

.sidebar-widget {
  margin-bottom: 1rem;
}
.ride-ratings {
  padding: 1rem;
  padding-bottom: 0;
  border: 1px solid $primary;
  @include border-radius;

  .rating-title {
    margin-bottom: 0;
  }
  .rating-level {
    margin-bottom: 1rem;
    color: $primary;
  }
}
.widget-area {
  @media screen and (max-width: 500px) {
    margin-top: 1.5rem;
  }
  @media screen and (min-width: 501px) and (max-width: 800px) {
    font-size: .9em;
    h3 {
      font-size: 1em;
    }
    h4 {
      font-size: .9em;
    }
  }
}




